.root-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;

  & > * {
    user-select: none;
  }
}

.contents-area {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}
