.root-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  // pointer-events: none;

  // & > * {
  //   pointer-events: all;
  // }
}

.contents-area {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}
