// $theme-dark-blue: #242546;
$theme-dark-blue: #20213d;
$soft-blue-white: #dbd8e9;
$bright-blue-white: #f6f5fc;
$grey-disabled: #77767c;
// $background-black: #343247;
// $card-background: #252533;
// $fixture-bar: #2c2c41;
$background-black: #28253d;
$card-background: #46465e;
$card-background-hover: #5c60b1;
$card-background-selected: #8485a7;

$fixture-bar: #3e3e55;

$scroll-bar-track: #3e3e55;
$scroll-bar-thumb: #2c2c41;
