@import '@app/styles/Color.scss';

$menu-btn-hover: #ffffff4b;

.side-navigation-container {
  width: 100%;
  min-width: 140px;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  margin: 0;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-top: 15px;
  box-sizing: border-box;

  .fixture-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    box-sizing: border-box;
    font-size: 20px;

    color: white;

    cursor: pointer;

    .fixture-selection-text {
      margin-left: 10px;
    }
  }
  .fixture-selection:hover {
    transition-duration: 0.2s;
    background-color: $menu-btn-hover;
  }

  .division-bar {
    width: 100%;
    height: 1px;
    background-color: #999999;
  }

  .selected-fixture {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .selected-fixture-item {
      width: 100%;
      font-size: 14px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 5px;

      cursor: pointer;
    }

    .selected-fixture-item:hover {
      transition-duration: 0.2s;
      background-color: $menu-btn-hover;
    }
  }

  .debug-tool-menu {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
  }
  .debug-tool-menu:hover {
    transition-duration: 0.2s;
    background-color: $menu-btn-hover;
  }
}
